.album-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    color: white;
    width: 100vw;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding-top: 2vh;
    background: linear-gradient(to bottom, #000000, #221c35); /* Example gradient from black to dark blue */
}

.grid-container {
    display: grid;
    width: 55vw; /* Decrease the width to 60vw or any value you prefer */
    grid-template-columns: repeat(auto-fill, minmax(80px, var(--cell-size))); /* Using CSS variable */
    gap: 1vw;
    padding: 20px;
    margin-bottom: 5vh;
    overflow: hidden;
}


.grid-cell {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.grid-cell:hover {
    transform: translateY(-5px); /* Lift up on hover */
}

.grid-cell a:hover {
    cursor: pointer; /* Change cursor to indicate clickable */
}

.square-image {
    width: 100%; /* fill the container */
    height: 100%; /* fill the container */
    object-fit: cover; /* maintain aspect ratio without stretching the image */
}

.square-wrapper {
    padding: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.label-input-container {
    margin-bottom: 20px; /* This ensures a fixed margin regardless of grid size */
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line to create space between input and button */
    width: auto;
    margin: 0 auto 20px; /* Centers horizontally and adds a fixed bottom margin */
}

.grid-size-label {
    padding-right: 5px; /* Add padding to the right side of the label */
}
   
.grid-size-input {
    border: 2px solid #ccc;
    color: black;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
}

.randomize-button {
    background-color: #3bb519;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    margin-left: 10px;
}


h1 {
    margin-bottom: 60px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    animation: glow 3s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% { text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00; }
    50% { text-shadow: 0 0 20px #FF00FF, 0 0 30px #FF00FF; }
}

@keyframes animateLine {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

@keyframes colorAndShadowChange {
    0%, 100% { background-color: #FF0000; box-shadow: 0 0 20px 2px #FF0000; }
    12% { background-color: #0000FF; box-shadow: 0 0 20px 2px #0000FF; }
    24% { background-color: #00FF00; box-shadow: 0 0 20px 2px #00FF00; }
    36% { background-color: #FFFF00; box-shadow: 0 0 20px 2px #FFFF00; }
    48% { background-color: #800080; box-shadow: 0 0 20px 2px #800080; }
    60% { background-color: #00FFFF; box-shadow: 0 0 20px 2px #00FFFF; }
    72% { background-color: #FFA500; box-shadow: 0 0 20px 2px #FFA500; }
    84% { background-color: #00FF00; box-shadow: 0 0 20px 2px #00FF00; }
    96% { background-color: #FF1493; box-shadow: 0 0 20px 2px #FF1493; }
}

.album-grid-container::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 4px;
    animation: animateLine 8s linear infinite, colorAndShadowChange 10s linear infinite;
}